<% if line_item == @current_item %>
<tr class="line-item-highlight">
<% else %>
<tr>
<% end %>
  <td class="quantity"><%= line_item.quantity %></td>
  <td><%= line_item.product.title %></td>
  <td class="price"><%= number_to_currency(line_item.total_price) %></td>
  <%# FIXME: causes order_mailer_test to fail. Previous playtime code incompatible with task I %>
  <td><%#= button_to 'Remove from Cart',
                line_item, method: :delete,
                remote: true %>
  </td>
</tr>
